entrypoint="index.html"
hidden=[".config"]
modules = ["python-3.11", "web:v2-20230623-0b7a606"]

[nix]
channel = "stable-23_11"

[deployment]
publicDir = "/"
deploymentTarget = "static"

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 38688108
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python app.py"
